*.o
*.a
*.dylib
.DS_Store
libraries/include
libraries/lib
utilities/volumetricMeshUtilities/generate*
utilities/interactiveDeformableSimulator/interactiveDeformableSimulator
utilities/bin
xcuserdata
project.xcworkspace



