*.o
*.a
*.dylib
.DS_Store
xcuserdata/
libraries/include
libraries/lib
utilities/volumetricMeshUtilities/generate*
utilities/interactiveDeformableSimulator/interactiveDeformableSimulator
utilities/bin


